.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 40% 100px 5%;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 75px;
    margin-right: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 20px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 75px;
}
