.spanBlock {
 display: flex;
	align-items: center;
}

.span {
	display: inline-block;
	min-width: 50px;
	color: #0080FF;
	padding-left: 10px;
}

.input {
	padding-left: 10px;
	width: 300px;
}

.pen {
	width: 30px;
	height: 100%;
}