.friendMessage {
   position: relative;
   margin: 50px 0 0 20px;
   width: 480px;
   min-height: 60px;
}

.friendImageAndText {
   width: 480px;
}

.friendImageAndText img {
   position: absolute;
   width: 48px;
   height: 48px;
   left: 0;
   bottom: 0;
}

.friendText {
   position: relative;
   padding: 3px 0;
   width: 414px;
   min-height: 60px;
   left: 68px;
   bottom: 0;
   border-radius: 10px 10px 10px 0;
   background: #d0d9eb;
}

.friendText::before {
      position: absolute;
      bottom: 0;
      content: '';
      background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(208, 217, 235, 1) 0);
      width: 15px;
      height: 15px;
      left: -15px;
}

.friendName {
   width: 50%;
   height: 20px;
   font-family: 'Montserrat',sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
   /* identical to box height */
   padding: 5px 0 0 20px;

   color: #000000;
}

.friendMessageText {
   width: 400px;
   min-height: 20px;
   font-family: 'Montserrat',sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   /* identical to box height */
   padding: 10px 0 0 20px;

   color: #000000;
   white-space: pre-wrap;
   word-wrap: break-word;
}

.friendTime {
   position: absolute;
   width: 29px;
   height: 12px;
   margin: 5px 0 0 10px;
   font-family: 'Montserrat',sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 10px;
   line-height: 12px;

   color: #000000;
}