.container {
	margin-right: 50px;
	width: 300px;
}

.wrapper {
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.wrapper .number:last-child {
	position: absolute;
	left: 370px;
}

.number {
	margin-right: 30px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}
